.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;   

  }

  .width100 {
    width: 100%;
  }
  .btn-now {
    text-align: right;
  }

  .bgm {
    background-color: aliceblue;
  }