<div>
  <img mat-card-image class="image" src="assets/images/stump.png" alt="cricket">
</div>
<div class="bg-text">
  <mat-card class="register">
    <mat-card-header>
      <mat-card-title class="iconNow">Register As a New User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form class="myForm">
        <mat-form-field class="form-width">
          <mat-label class="label adjust">User Name</mat-label>
          <mat-icon matPrefix>person</mat-icon>
          <input matInput id="username" class="matInputdata" [(ngModel)]="user.userName" name="username" placeholder="Enter username" [formControl]="nameFormControl">
          <mat-error *ngIf="pwdFormControl.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field class="form-width">
          <mat-label class="label adjust">Email ID</mat-label>
          <mat-icon matPrefix>email</mat-icon>
          <input matInput id="Email" class="matInputdata" [(ngModel)]="user.email" name="Email" placeholder="Enter email" [formControl]="emailFormControl">
          <mat-error *ngIf="emailFormControl.invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label class="label adjust">Password</mat-label>
          <mat-icon matPrefix>lock</mat-icon>
          <input matInput id="password" class="matInputdata" [(ngModel)]="user.password" type="password" name="password" placeholder="Enter password" [formControl]="pwdFormControl">
          <mat-error *ngIf="pwdFormControl.invalid">{{getPwdErrorMessage()}}</mat-error>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button class="register-users" mat-raised-button (click)="register()">Register</button>
    </mat-card-actions>
  </mat-card>
</div>